.LogoTitle {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
}

.MainNav {  
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.NavBar {
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

.CardSection {
    display: flex;
    justify-content: space-between;
}

.CardSection-Columns {
    display: flex;
    flex-direction: column;
}

.Card{
    height: 240px;
    width: 240px;
    background-color: grey;
    margin: 20px;
}

svg {
    font-size: 3em;
    margin-top: 20px;
    margin-right: 10px;
}

li, button {
    background-color: grey;
    height: 50px;
    width: 120px;
    margin: 10px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}
button {
    background-color: green;
}